.brainy-search .wp-block-search__inside-wrapper {
    display: flex;
    flex: auto;
    flex-wrap: nowrap;
    max-width: 100%;
}

.brainy-search .wp-block-search__input {
    padding: 8px 1em;
    flex-grow: 1;
    margin-left: 0;
    margin-right: 0;
    min-width: 3em;
    border: 1px solid #949494;
    text-decoration: unset!important;
    font-size: 1em;
}

.brainy-search blockquote {
    border: 1px dashed #000;
    margin: 0;
}

.brainy-search blockquote p {
    margin: 1em;
    font-style: italic;
}